# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Editor/OS
.vscode/
.idea/
.DS_Store

# env & config sensibili
.env
config.py

# DB data 
_data/
*.sql
*.dump

# Uploads
app/static/uploads/
